
/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#background_image {

}

#hero {
  text-align: left;
  padding: 50px;
}


/* Choose sport banner
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#choose_sport {
color: white;
  background-image: url("assets/subfinder_football.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  padding: 50px;
  font-weight: normal;
}

.overlay {
    padding: 50px;
    margin: -50px;
    content: '\A'; 
    height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.5);
    opacity: 1;
    transition: all 1s;
    -webkit-transition: all 1s;
}

#home-button {
  color: white;
}

#home-button:hover {
  color: #555;
}

#home-button:visited {
  color: red;
}

/* Results list
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.results {
  display: inline-block;
  color: #555;
  padding: 20px;
}

.results > li:first-child { 
    left-padding: 20px;
}


/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */

footer {
  margin: 20px;
}

