
/* Global
–––––––––––––––––––––––––––––––––––––––––––––––––– */

a {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color:white;
}

.thumbnail {
  width: 128px;
}


img {
  height: 128px;
  width: 128px;
}

/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#background_image {

}

#hero {
  text-align: left;
  padding: 50px;
}


/* Choose sport banner
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#choose_sport {
color: white;
  background-image: url("assets/subfinder_football.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  padding: 50px;
  font-weight: normal;
}

.overlay {
    padding: 50px;
    margin: -50px;
    content: '\A'; 
    height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.5);
    opacity: 1;
    transition: all 1s;
    -webkit-transition: all 1s;
}

#home-button {
  background-color: white;
  color: #555;
}



/* Results list
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.results {
  display: inline-block;
  color: #555;
  padding: 20px;
  margin-left: 25%;
}

/* Navigation header
–––––––––––––––––––––––––––––––––––––––––––––––––– */
nav {
	width: 100%;
  color: white;
	float: left;
	padding: 10px;
  margin-bottom: 50px;
	list-style: none;
	background-color: #45ADA8;
	border-bottom: 1px solid #ccc; 
	border-top: 1px solid #ccc; 
  }


  /*Profile
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.profile {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

.about {
padding: 20px;
}

#back {
  margin-right: 50px;
}


#message > a {
  color: #555;
}



/* Back button - footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#back {
  position: fixed;
  bottom: 0px;
	width: 100%;
  color:#555;
	float: left;
	padding: 10px;
	list-style: none;
	background-color: #E8E8EE;;
   }


  /*Nav on About page
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#about-nav > a {
  font-weight: bold;
}


  /*Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
footer {
  font-weight: normal;
  padding: 20px;
}